<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.mycloudmusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".CMApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_quantum_statistical"
        android:label="AQS音乐播放器"
        android:roundIcon="@drawable/ic_icon_quantum_statistical"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustResize"></activity>

        <service
            android:name=".service.PlayService"
            android:enabled="true" />

        <!-- <activity android:name=".ui.onLine.ArtistInfoActivity" /> -->
        <activity android:name=".ui.onLine.ArtistDetailActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.user.RegisterActivity" />
        <activity android:name=".ui.user.LoginActivity"></activity>
    </application>

</manifest>